<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div class="login100-form-title" style="background-image: url(assets/loginform/images/1.jpg);">
        <span class="login100-form-title-1">
          Registration
        </span>
      </div>

      <form class="login100-form validate-form" #RegisterForm="ngForm" (ngSubmit)="Submit()">
        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Account</span>
          <input class="input100"type="email" placeholder="Enter email" name="email" [(ngModel)]="user.emailId"
          required pattern="^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$" #email="ngModel"
          [class.is-invalid]="email.invalid && email.touched">
        <div *ngIf="email.errors && (email.invalid && email.touched)">
          <small class="text-danger" *ngIf="email.errors.required ">Email Id is required field</small>
          <small class="text-danger" *ngIf="email.errors.pattern">Enter the valid emailID</small>
        </div>
      

          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input m-b-26" data-validate="Name is required">
          <span class="label-input100">Name</span>
          <input class="input100"type="text" placeholder="Enter Name" name="name" required [(ngModel)]="user.name" #name="ngModel"
          [class.is-invalid]="name.invalid && name.touched">
          <small class="text-danger"[class.d-none]="name.valid || name.untouched">name Id is required field</small>
        
          <span class="focus-input100"></span>
        </div>


        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Username</span>
          <input class="input100"type="text" placeholder="Enter User name" name="user_name" required
          [(ngModel)]="user.user_name" #user_name="ngModel" [class.is-invalid]="user_name.invalid && user_name.touched">
        <small class="text-danger" [class.d-none]="user_name.valid || user_name.untouched">username Id is required
          field</small>


          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-18" data-validate="Password is required">
          <span class="label-input100">Password</span>
          <input class="input100" type="password" placeholder="Enter password" name="password" required
          [(ngModel)]="user.password" #password="ngModel" [class.is-invalid]="password.invalid && password.touched">
        <small class="text-danger" [class.d-none]="password.valid || password.untouched">Password Id is required
          field</small>

          <span class="focus-input100"></span>
        </div>

        <div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
          <span class="label-input100">Avatar</span>
          <label for="pwd"></label><br>
          <input type="file" name="file" (change)="Selected($event)">


          <span class="focus-input100"></span>
        </div>
        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
            <label class="label-checkbox100" for="ckb1">
              Remember me
            </label>
          </div>

          <div>
            <a [routerLink]="['/account/login']" class="txt1">
              Login
            </a>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn" type="submit" [disabled]="RegisterForm.form.invalid">
            Register
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

