

        <div class="container-fluid">

      <ng-container>
        <form *ngIf="this.formUser" (ngSubmit)="Submit()" [formGroup]="this.formUser" style="padding-top: 90px; margin-left: 50px;">
          <div class="form-group">

          <label>Thêm User</label><br>
          </div>
          <div class="form-group">
          <label>UserName :</label> <input type="text" class="form-control" formControlName="user_name">
          </div>
          <div class="form-group">
          <label>Password :</label> <input type="password" class="form-control" formControlName="password">
          </div>
          <label>UserId :</label> <input type="text" class="form-control" formControlName="emailId">
          <label>Name : </label><input type="text" class="form-control" formControlName="name">
          <br>
          <img style="width: 150px;"src="../../../assets/image/{{this.url}}" alt=""><br>
          <br>
          <label for="role_id">Roles</label>
          
          <input type="file" name="file" (change)="Selected($event)"><br>

          <select class="form-control" required formControlName="role_id">
            <option *ngFor="let roleItems of listRole" value="{{roleItems.id}}">
              {{roleItems?.name}}
            </option>
            </select><br>
            
          <!-- <input type="submit" value="Update"> -->
          <button (click) ="Submit" class="btn btn-danger btn-lg"  style="margin-left: 20px;">Update</button>
        </form>
      
        </ng-container>
       
        </div>
       

        <!-- project team & activity end -->





