
  <!-- <div class="col-4" style="margin-left: 90px; ">
    <div class="" style="padding-top: 90px; ">
    <div class="img" >
      <div class="float-right" >
        <h1>TITLE: {{blog.title}} </h1><br>
        <img src="{{imageUrl}}" width="300" height="300"><br>
        Mô tả: {{blog.content}}<br>

      </div>

      <hr>
    </div>
    </div>
  </div> -->



  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2" >
              <div class="blog-item" style="width:850px; padding-top: 150px;">
                  <img src="{{imageUrl}}" width="700px" height="400px" alt="">
                  <div class="date">26 Oct 2017</div>
                  <div class="down-content">
                      <h4>{{blog.title}}</h4>
                      <span>{{blog.note}}</span>
                      <p>{{blog.content}}</p>
                      <p>{{blog.contentlong}}</p>
                      <div class="text-button">
                          <a href="#">Quay lại trang Blog</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>







