

  <section class="page-heading" style="margin-right: 119px; text-align: left;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 style="text-align: center;">Detail Blog</h1>
                <p style="text-align: center;">Xem chi tiết tại đây, sẽ có nhiều ưu đãi dịch vụ cho các bạn khi có lần đặt hàng đầu tiên.</p>
            </div>
        </div>
    </div>
</section>
  <section class="contact-us">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section-heading">
                 <p> <a href="#">Shop</a> > <a href="#">Headphones</a> > Noise Cancelling Headphones</p>
                    <h2>{{product.food_name}}</h2>
                </div>
                <form id="contact" action="" method="post">
                    <div class="row">
                        <div class="col-md-12">
                          <img src="{{imageUrl}}" width="500" height="400"><br>
                        </div>

                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div class="section-heading contact-info">
                 <h4 style="color:orange; padding-top:60px; ">XEM TẠI ĐÂY</h4>
                    <h2 style="margin-bottom: 20px; padding-top: 10px;">CHI TIẾT MÓN ĂN</h2>
                    <div class="" style="display: flex; justify-content: space-between; padding-top: 15px;">
                      <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="yellow fa fa-star"></i>
                      <i class="fa fa-star"></i>
                      <p>  &ensp;Đánh giá của khách hàng</p>
                      <p>Tại nhà hàng KHÁNH FOOD</p>
                    </div>
                    <hr>

                    <div class="" style="padding-top: 25px;">
                      <h2 style="font-size: 32px;
                      margin: 0px 0 10px;
                      font-weight: bold;
                      color: #262626;
                    ">${{product.price}}</h2>
                    <p>{{product.content}}
                      </p>
                       <hr>
                       <i class=" ti-location-pin "></i>

                       <em>30 Raffles Ave, <br>Singapore 039803</em>
                      </div>
                </div>
                <hr>
                <P>SHARE THIS PRODUCT</P>
                <footer>
                              <ul class="social-icons">

                                  <li><a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent"><i class="fa fa-facebook"></i></a></li>
                                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                              </ul>
                </footer>
                          </div>

        </div>
    </div>
</section>
<footer  style="margin-right: 119px;">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <p>Khánh không Copyright &copy; 2020 Victory Template</p>
          </div>
          <div class="col-md-4">
              <ul class="social-icons">
                  <li><a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <p>Designed by <em>templatemo</em></p>
          </div>
      </div>
  </div>
</footer>

