<section class="page-heading">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <h1>Blog Mỗi Ngày</h1>
              <p>Ở đây sẽ có những tin tức thú vị nhất dành đến bạn, nhớ đọc nó để thư giản hơn nhé!</p>
          </div>
      </div>
  </div>
</section>


<section class="blog-page">
  <div class="container">
      <div class="row">
          <div class="col-md-8 col-md-offset-2">
              <div class="blog-item" style="width:850px;" *ngFor="let item of blog| paginate:{id: 'pagination',
              itemsPerPage:3,
              currentPage: page,
              totalItems:totalRecords}">
              <a href="/detailsblog/{{item.id}}"> <img src="../../assets/image/{{this.item.avatar}}" width="700px" height="400px" alt=""></a>
                  <div class="date">26 Oct 2017</div>
                  <div class="down-content">
                      <h4>{{item.title}}</h4>

                      <span>{{item.note}}</span>
                      <p>{{item.content}}</p>
                      <span>{{item.date| date:"dd/MM/yyy/hh:mm:ss"}}</span>
                      <div class="text-button">
                        <a href="/detailsblog/{{item.id}}"> Xem chi tiêt</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
  <pagination-controls id="pagination" style="text-align: center;" maxSize="5" directionLinks="true"(pageChange)="page=$event"></pagination-controls>
</section>



<section class="sign-up">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="heading">
                  <h2>Signup for our newsletters</h2>
              </div>
          </div>
      </div>
      <form id="contact" action="" method="get">
          <div class="row">
              <div class="col-md-4 col-md-offset-3">
                  <fieldset>
                      <input name="email" type="text" class="form-control" id="email" placeholder="Enter your email here..." required>
                  </fieldset>
              </div>
              <div class="col-md-2">
                  <fieldset>
                      <button type="submit" id="form-submit" class="btn">Send Message</button>
                  </fieldset>
              </div>
          </div>
      </form>
  </div>
</section>


<footer>
  <div class="container">
      <div class="row">
          <div class class="col-md-4">
            <p>Nhà hàng Khánh FOOD &copy; Sẽ không làm bạn thất vọng</p>

          </div>
          <div class="col-md-4">
              <ul class="social-icons">
                  <li><a rel="nofollow" href="http://www.facebook.com/templatemo" target="_parent"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                  <li><a href="#"><i class="fa fa-rss"></i></a></li>
                  <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
              </ul>
          </div>
          <div class="col-md-4">
            <p>Khánh Designed tại <em>BRYCEN Việt Nam</em></p>
          </div>
      </div>
  </div>
</footer>
