<br>
<div class="container" *ngFor="let item of this.product">
 <div class="row">
  <div class="col-4">
    <div class="">
    <div class="img">
      <div class="float-right">
        Tên món ăn: {{item.food_name}}<br>
        Giá: {{item.price}}<br>
        Đơn vị: {{item.unit}}<br>
        Mô tả: {{item.content}}<br>

      </div>
      <img src="./../../../assets/image/{{this.item.avatar}}" alt="" width="200" height="200">
      <hr>
     </div>
    </div>
 </div>
 <div class="col-4">
  <div class="">
  <div class="img">
    <div class="float-right">
      Tên món ăn: {{item.food_name}}<br>
      Giá: {{item.price}}<br>
      Đơn vị: {{item.unit}}<br>
      Mô tả: {{item.content}}<br>

    </div>
    <img src="./../../../assets/image/{{this.item.avatar}}" alt="" width="200" height="200">
    <hr>
   </div>
  </div>
</div>
<div class="col-4">
  <div class="">
  <div class="img">
    <div class="float-right">
      Tên món ăn: {{item.food_name}}<br>
      Giá: {{item.price}}<br>
      Đơn vị: {{item.unit}}<br>
      Mô tả: {{item.content}}<br>

    </div>
    <img src="./../../../assets/image/{{this.item.avatar}}" alt="" width="200" height="200">
    <hr>
   </div>
  </div>
</div>
 </div>
</div>
